/* mini reset */
* {margin: 0; padding: 0; box-sizing: border-box;}

body {background-color: #fff;}

/* HEADER : intestazione */
.header {
    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.menu {
    
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.menu li {
    padding: 0 20px;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    list-style: none;
}

.menu a {text-decoration: none; color: #59200A;}

.contact { font-size: 16px; margin: 0;}

.contact a {
    color: #59200A;
    text-decoration: none;
    font-family: 'Rubik', serif;
    font-weight: 500;
}

.logo { width: 75px; height: 75px;}

/* under_header: striscia marrone */
.under_header {
    width: 100%;
    height: 70px;
    background-color: #59200A;
    color: #fff;
    margin-top: 77px;
    padding: 20px 478px;
    font-size: 14px;
}

.span1 {font-family: 'Rubik', serif; font-weight: 400;}

.span2 {font-family: 'Rubik', serif; font-weight: 500;}

/* sezione introduttiva */
.introduction {
    
    height: 65vh;
    width: 100%;
    padding: 72px 760px 20px 180px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5)), url(cover.webp) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.note {font-family: 'Rubik', serif; font-weight: 400; font-size: 14px;}

h1 {font-size: 60px; font-family: 'Merriweather', serif; font-weight: 500;}

.description {font-family: 'Rubik', serif; font-weight: 400; font-size: 20px;}

/* media query per schermi 0-768px */
@media (max-width: 768px) {

    /* header */
    .header{padding-left: 20px; padding-right: 20px; position: relative;}
    .menu {position: absolute; top: 145px; right: 100%;}
    .menu li {width: 100%;}

    /* under_header */
    .under_header {padding: 19px 40px; margin-top: 0;}

    /* sezione introduttiva */
    .introduction {height: 79vh; padding: 187px 40px 50px 19px;}
    h1 {font-size: 36px; margin-bottom: 8px;}
}

/* media query per schermi 768px-1440px */
@media (min-width: 768px) and (max-width: 1440px) {

    /* header */
    .menu {display: grid; grid-template-columns: 1fr 1fr;}

    /* under_header */
    .under_header {margin-top: 77px; padding: 20px 200px;}

    /* sezione introduttiva */
    .introduction {height: 80vh; padding: 172px 390px 50px 30px;}
    h1 {font-size: 70px; margin-bottom: 8px;}
}
